/* Definições de variáveis */
:root {
  --docs: rgb(34, 153, 81); /* Cor para documentos */
  --admin: rgb(0, 0, 0); /* Cor para administração */
  --personLookup: rgb(0, 0, 0); /* Cor para busca de pessoas */
  --softwareSupport: rgb(233, 105, 30); /* Cor para suporte de software */
  --dashboardUpdates: rgb(206, 106, 106); /* Cor para atualizações de painel */
  --settings: rgb(51, 51, 153); /* Cor para configurações */
  --white: rgba(0, 0, 0, 0.8); /* Cor para navbar */
  --nav-toggle-duration: 500ms; /* Duração da animação de toggle do navbar */
}

.rotate-180-deg {
  transform: rotate(180deg); /* Rotação de 180 graus */
}

hr {
  margin: 5px 0; /* Margem do elemento hr */
}

/* Estilos para .docs-table */
.docs-table tbody i {
  display: inline-block; /* Define como um bloco em linha */
  margin: 0 auto; /* Margem automática */
  font-size: 2em; /* Tamanho da fonte */
  width: 100%; /* Largura 100% */
  text-align: center; /* Alinhamento central do texto */
}

/* Estilos para ul */
ul li i {
  display: inline-block; /* Define como um bloco em linha */
  margin-right: 10px; /* Margem direita */
}

li.divider {
  width: 100%; /* Largura 100% */
}

li.divider hr {
  width: 90%; /* Largura de 90% */
  text-align: center; /* Alinhamento central do texto */
}

li.sub-li {
  font-size: 0.8em; /* Tamanho da fonte */
}

/* Estilos para navbar */
.navbar.navbar-inverse.navbar-fixed-top {
  background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo */
  border: none; /* Sem borda */
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 500px; /* Altura máxima */
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-top: none; /* Sem borda superior */
}

.nav.navbar-nav.side-nav {
  background-color: var(--white); /* Cor de fundo */
  transition: width var(--nav-toggle-duration) ease; /* Transição */
  transform: translate3d(0, 0, 0); /* Tradução em 3D */
}

.navbar-nav.side-nav.hide-link-text {
  width: 48px; /* Largura de 48 pixels */
  left: 0; /* Posicionamento à esquerda */
  margin-left: 0; /* Margem à esquerda */
}

.navbar-nav li a {
  transition: all 250ms ease; /* Transição */
}

.navbar-nav li:not(.divider):hover {
  cursor: pointer; /* Cursor do mouse */
}

.navbar-nav li.toggle-nav i {
  transition: transform var(--nav-toggle-duration) linear; /* Transição */
}

.navbar-nav li.toggle-nav i.rotate-180-deg {
  transform-origin: 10px 8px; /* Origem da transformação */
}

.navbar-nav li > a {
  line-height: 35px; /* Altura da linha */
  transition: all 250ms ease; /* Transição */
}

.navbar-nav li > a i {
  min-width: 24px; /* Largura mínima */
  width: 24px; /* Largura */
  margin-right: 10px; /* Margem direita */
  padding-right: 10px; /* Preenchimento direito */
  text-align: center; /* Alinhamento central do texto */
}

.navbar-nav li.active, .navbar-nav li.active:hover {
  background-color: #0087fd; /* Cor de fundo */
}

.navbar-nav li:hover {
  background-color: #428bca !important; /* Cor de fundo ao passar o mouse */
}
/* Estilos para body e wrappers */

body {
  margin-top: 52px; /* Margem superior */
  padding-bottom: 52px; /* Preenchimento inferior */
  background: linear-gradient(90deg, #C7C5F4, #776BCC); /* Gradiente de fundo */
}

#wrapper, #page-wrapper {
  height: 100%; /* Altura 100% */
}

#wrapper {
  padding-left: 0; /* Preenchimento à esquerda */
}

#page-wrapper {
  padding: 5px 15px; /* Preenchimento */
  overflow-x: hidden; /* Overflow-x escondido */
  overflow-y: auto; /* Overflow-y automático */
}

/* Estilos para navbar-inverse */
.navbar-inverse {
  background-color: #ffffff; /* Cor de fundo */
  border-color: #ffffff; /* Cor da borda */
}

.navbar-toggle {
  background: transparent; /* Transparente */
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff; /* Cor do texto */
  background-color: #428bca; /* Cor de fundo */
}

/* Media queries */
@media (max-height: 600px) {
  ul.navbar-nav.side-nav > li > a {
    height: 40px; /* Altura */
    padding: 5px 15px; /* Preenchimento */
  }
}

@media (min-width: 768px) {
  /* Wrappers */
  #wrapper {
    padding-left: 225px; /* Preenchimento à esquerda */
    transition: padding-left 800ms ease; /* Transição */
  }

  #wrapper.expanded {
    padding-left: 48px; /* Preenchimento à esquerda */
  }

  #page-wrapper {
    padding: 0px 25px 15px 25px; /* Preenchimento */
  }

  /* Side Nav */
  .side-nav {
    margin-left: -225px; /* Margem à esquerda */
    left: 225px; /* Posicionamento à esquerda */
    width: 225px; /* Largura */
    position: fixed; /* Posicionamento fixo */
    top: 50px; /* Posicionamento superior */
    bottom: 1px; /* Posicionamento inferior */
    height: auto; /* Altura automática */
    border-radius: 0; /* Raio da borda */
    border: none; /* Sem borda */
    background-color: #f3f3f3; /* Cor de fundo */
    overflow-x: hidden; /* Overflow-x escondido */
    overflow-y: hidden; /* Overflow-y escondido */
    user-select: none; /* Seleção do usuário desativada */
  }

  .side-nav > li.dropdown > ul.dropdown-menu {
    position: relative; /* Posicionamento relativo */
    min-width: 225px; /* Largura mínima */
    margin: 0; /* Margem */
    padding: 0; /* Preenchimento */
    border: none; /* Sem borda */
    border-radius: 0; /* Raio da borda */
    background-color: transparent; /* Cor de fundo transparente */
    box-shadow: none; /* Sem sombra */
  }

  .side-nav > li.dropdown > ul.dropdown-menu > li > a {
    color: #999999; /* Cor do texto */
    padding: 15px 15px 15px 25px; /* Preenchimento */
  }

  .side-nav > li.dropdown > ul.dropdown-menu > li > a:hover,
  .side-nav > li.dropdown > ul.dropdown-menu > li > a.active,
  .side-nav > li.dropdown > ul.dropdown-menu > li > a:focus {
    color: #fff; /* Cor do texto */
    background-color: #428bca; /* Cor de fundo */
  }

  .side-nav > li > a {
    width: 225px; /* Largura */
  }

  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #c9c9c9; /* Cor de fundo */
  }

  .navbar-collapse {
    padding-left: 15px !important; /* Preenchimento à esquerda */
    padding-right: 15px !important; /* Preenchimento à direita */
  }
}

/* Estilos para Nav Announcements */
.alerts-heading {
  font-size: 50px; /* Tamanho da fonte */
  margin: 0; /* Margem */
}

.alerts-text {
  margin: 0; /* Margem */
}

/* Estilos para .header-text */
.header-text {
  display: inline-block; /* Define como um bloco em linha */
  border-bottom: 1px solid lightgrey; /* Borda inferior */
  font-weight: 300; /* Peso da fonte */
  animation-delay: 0; /* Delay da animação */
  animation-duration: 600ms; /* Duração da animação */
}
/* Estilo da barra de pesquisa */
/* Adicionei a classe "demo" para a fonte */
.demo {
  font-family: 'Noto Sans', sans-serif; /* Fonte */
}
/* Estilo do painel */
.panel {
  background: linear-gradient(to right, #2980b9, #2c3e50); /* Gradiente de fundo */
  padding: 0; /* Preenchimento */
  border-radius: 10px; /* Raio da borda */
  border: none; /* Sem borda */
  box-shadow: 0 0 0 5px rgba(182, 26, 26, 0.05), 0 0 0 10px rgba(0, 0, 0, 0.05); /* Sombra */
}
/* Cabeçalho Certificados*/
.panel .panel-heading {
  padding: 20px 15px; /* Preenchimento */
  border-radius: 10px 10px 0 0; /* Raio da borda */
  margin: 0; /* Margem */
}
/* título do cabeçalho*/
.panel .panel-heading .title {
  color: #fff; /* Cor do texto */
  font-size: 28px; /* Tamanho da fonte */
  font-weight: 500; /* Peso da fonte */
  text-transform: capitalize; /* Transformação de texto */
  line-height: 40px; /* Altura da linha */
  margin: 0; /* Margem */
}
.panel .panel-heading .btn {
  color: rgba(255, 255, 255, 0.5); /* Cor do texto */
  background: transparent; /* Transparente */
  font-size: 16px; /* Tamanho da fonte */
  text-transform: capitalize; /* Transformação de texto */
  border: 2px solid #fff; /* Borda */
  border-radius: 50px; /* Raio da borda */
  transition: all 0.3s ease 0s; /* Transição */
}
.panel .panel-heading .btn:hover {
  color: #fff; /* Cor do texto */
  text-shadow: 3px 3px rgba(255, 255, 255, 0.2); /* Sombra do texto */
}
/* barra de pesquisa*/
.panel .panel-heading .form-control {
  color: #fff; /* Cor do texto */
  background-color: transparent; /* Transparente */
  width: 35%; /* Largura */
  height: 40px; /* Altura */
  border: 2px solid #fff; /* Borda */
  border-radius: 20px; /* Raio da borda */
  display: inline-block; /* Display em linha */
  transition: all 0.3s ease 0s; /* Transição */
}
.panel .panel-heading .form-control:focus {
  background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo ao focar */
  box-shadow: none; /* Sem sombra */
  outline: none; /* Sem contorno */
}

.panel .panel-heading .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5); /* Cor do texto */
  font-size: 15px; /* Tamanho da fonte */
  font-weight: 500; /* Peso da fonte */
}
.panel .panel-body {
  padding: 0; /* Preenchimento */
}
.panel .panel-body .table thead tr th {
  color: #fff; /* Cor do texto */
  background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo */
  font-size: 16px; /* Tamanho da fonte */
  font-weight: 500; /* Peso da fonte */
  text-transform: uppercase; /* Transformação de texto */
  padding: 12px; /* Preenchimento */
  border: none; /* Sem borda */
}
.panel .panel-body .table tbody tr td {
  color: #fff; /* Cor do texto */
  font-size: 15px; /* Tamanho da fonte */
  padding: 10px 12px; /* Preenchimento */
  vertical-align: middle; /* Alinhamento vertical */
  border: none; /* Sem borda */
}
.panel .panel-body .table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05); /* Cor de fundo */
}
.panel .panel-body .table tbody .action-list {
  padding: 0; /* Preenchimento */
  margin: 0; /* Margem */
  list-style: none; /* Estilo de lista */
}
.panel .panel-body .table tbody .action-list li {
  display: inline-block; /* Display em linha */
  margin: 0 5px; /* Margem */
}
.panel .panel-body .table tbody .action-list li a {
  color: #fff; /* Cor do texto */
  font-size: 15px; /* Tamanho da fonte */
  position: relative; /* Posição relativa */
  z-index: 1; /* Z-index */
  transition: all 0.3s ease 0s; /* Transição */
}
.panel .panel-body .table tbody .action-list li a:hover {
  text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.3); /* Sombra do texto ao passar o mouse */
}
.panel .panel-body .table tbody .action-list li a:before,
.panel .panel-body .table tbody .action-list li a:after {
  content: attr(data-tip); /* Conteúdo */
  color: #fff; /* Cor do texto */
  background-color: #111; /* Cor de fundo */
  font-size: 12px; /* Tamanho da fonte */
  padding: 5px 7px; /* Preenchimento */
  border-radius: 4px; /* Raio da borda */
  text-transform: capitalize; /* Transformação de texto */
  display: none; /* Oculto */
  transform: translateX(-50%); /* Tradução */
  position: absolute; /* Posição absoluta */
  left: 50%; /* Posicionamento à esquerda */
  top: -32px; /* Posicionamento superior */
  transition: all 0.3s ease 0s; /* Transição */
}
.panel .panel-body .table tbody .action-list li a:after {
  content: ''; /* Conteúdo vazio */
  height: 15px; /* Altura */
  width: 15px; /* Largura */
  padding: 0; /* Preenchimento */
  border-radius: 0; /* Raio da borda */
  transform: translateX(-50%) rotate(45deg); /* Transformação */
  top: -18px; /* Posicionamento superior */
  z-index: -1; /* Z-index */
}
.panel .panel-body .table tbody .action-list li a:hover:before,
.panel .panel-body .table tbody .action-list li a:hover:after {
  display: block; /* Exibido */
}
.panel .panel-footer {
  color: #fff; /* Cor do texto */
  background-color: transparent; /* Transparente */
  padding: 15px; /* Preenchimento */
  border: none; /* Sem borda */
}
.panel .panel-footer .col {
  line-height: 35px; /* Altura da linha */
}
.pagination {
  margin: 0; /* Margem */
}
.pagination li a {
  color: #fff; /* Cor do texto */
  background-color: transparent; /* Transparente */
  border: 2px solid transparent; /* Borda */
  font-size: 18px; /* Tamanho da fonte */
  font-weight: 500; /* Peso da fonte */
  text-align: center; /* Alinhamento do texto */
  line-height: 31px; /* Altura da linha */
  width: 35px; /* Largura */
  height: 35px; /* Altura */
  padding: 0; /* Preenchimento */
  margin: 0 3px; /* Margem */
  border-radius: 50px; /* Raio da borda */
  transition: all 0.3s ease 0s; /* Transição */
}
.pagination li a:hover {
  color: #fff; /* Cor do texto */
  background-color: transparent; /* Transparente */
  border-color: rgba(255, 255, 255, 0.2); /* Cor da borda ao passar o mouse */
}
.pagination li a:focus,
.pagination li.active a,
.pagination li.active a:hover {
  color: #fff; /* Cor do texto */
  background-color: transparent; /* Transparente */
  border-color: #fff; /* Cor da borda */
}
.pagination li:first-child a,
.pagination li:last-child a {
  border-radius: 50%; /* Raio da borda */
}
@media only screen and (max-width: 767px) {
  .panel .panel-heading .title {
      text-align: center; /* Alinhamento central do texto */
      margin: 0 0 10px; /* Margem */
  }
  .panel .panel-heading .btn_group {
      text-align: center; /* Alinhamento central do texto */
  }
}
