/* Definições de variáveis */
:root {
  --docs: rgb(34, 153, 81);
  --admin: rgb(0, 0, 0);
  --personLookup: rgb(125, 212, 209);
  --softwareSupport: rgb(233, 105, 30);
  --dashboardUpdates: rgb(164, 106, 206);
  --settings: rgb(51, 51, 153);
  --white: rgb(255, 255, 255);
  --print: rgb(0, 0, 0);
  --nav-toggle-duration: 500ms;
}

.rotate-180-deg {
  transform: rotate(180deg);
}

hr {
  margin: 5px 0;
}

/* Estilos para .docs-table */
.docs-table tbody i {
  display: inline-block;
  margin: 0 auto;
  font-size: 2em;
  width: 100%;
  text-align: center;
}

/* Estilos para ul */
ul li i {
  display: inline-block;
  margin-right: 10px;
}

li.divider {
  width: 100%;
}

li.divider hr {
  width: 90%;
  text-align: center;
}

li.sub-li {
  font-size: 0.8em;
}

/* Estilos para navbar */
.navbar.navbar-inverse.navbar-fixed-top {
  background-color: var(--white);
  border: none;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 500px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-top: none;
}

.nav.navbar-nav.side-nav {
  background-color: var(--white);
  transition: width var(--nav-toggle-duration) ease;
  transform: translate3d(0, 0, 0);
}

.navbar-nav.side-nav.hide-link-text {
  width: 48px;
  left: 0;
  margin-left: 0;
}

.navbar-nav li a {
  transition: all 250ms ease;
}

.navbar-nav li:not(.divider):hover {
  cursor: pointer;
}

.navbar-nav li.toggle-nav i {
  transition: transform var(--nav-toggle-duration) linear;
}

.navbar-nav li.toggle-nav i.rotate-180-deg {
  transform-origin: 10px 8px;
}

.navbar-nav li > a {
  line-height: 35px;
  transition: all 250ms ease;
}

.navbar-nav li > a i {
  min-width: 24px;
  width: 24px;
  margin-right: 10px;
  padding-right: 10px;
  text-align: center;
}

.navbar-nav li.active, .navbar-nav li.active:hover {
  background-color: #428bca;
}

.navbar-nav li:hover {
  background-color: #428bca !important;
}

/* Estilos para body e wrappers */
body {
  margin-top: 52px;
  padding-bottom: 52px;
  background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

#wrapper, #page-wrapper {
  height: 100%;
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  padding: 5px 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Estilos para navbar-inverse */
.navbar-inverse {
  background-color: #e7e7e7;
  border-color: #e7e7e7;
}

.navbar-toggle {
  background: rgb(125, 120, 120);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #428bca;
}

/* Media queries */
@media (max-height: 600px) {
  ul.navbar-nav.side-nav > li > a {
    height: 40px;
    padding: 5px 15px;
  }
}

@media (min-width: 768px) {
  /* Wrappers */
  #wrapper {
    padding-left: 225px;
    transition: padding-left 800ms ease;
  }

  #wrapper.expanded {
    padding-left: 48px;
  }

  #page-wrapper {
    padding: 0px 25px 15px 25px;
  }

  /* Side Nav */
  .side-nav {
    margin-left: -225px;
    left: 225px;
    width: 225px;
    position: fixed;
    top: 50px;
    height: auto;
    border-radius: 0;
    border: none;
    background-color: #f3f3f3;
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
  }

  .side-nav > li.dropdown > ul.dropdown-menu {
    position: relative;
    min-width: 225px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .side-nav > li.dropdown > ul.dropdown-menu > li > a {
    color: #999999;
    padding: 15px 15px 15px 25px;
  }

  .side-nav > li.dropdown > ul.dropdown-menu > li > a:hover,
  .side-nav > li.dropdown > ul.dropdown-menu > li > a.active,
  .side-nav > li.dropdown > ul.dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #428bca;
  }

  .side-nav > li > a {
    width: 225px;
  }

  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #c9c9c9;
  }

  .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Estilos para Nav Announcements */
.alerts-heading {
  font-size: 50px;
  margin: 0;
}

.alerts-text {
  margin: 0;
}

/* Estilos para .header-text */
.header-text {
  display: inline-block;
  border-bottom: 1px solid lightgrey;
  font-weight: 300;
  animation-delay: 0;
  animation-duration: 600ms;
}
