*{
    margin: 0%;
    padding: 0%;
}
a{
 
  text-decoration: none;
  font-family: sans-serif;

}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #fff;
  padding-right: 16px;
}

.logo-container {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #fff;
  padding-right: 16px;
  position: relative;
}

.logo-text {
  position: absolute;
  left: 40px;
  z-index: 1;
  font-size: 20px;
  white-space: nowrap; 
}

.logo-container img {
  width: 30px;
  height: 30px;
}

.header {
  background: rgb(197, 62, 197);
  padding-inline: 16px;

}
/* barra de pesquisa e */
.certificado-text {
  position: relative;
  align-items: center;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.certificado-text h2 {
  margin-top: 0;
  font-size: 2rem;
  color: #bdd3bd;
  font-family: Arial, Helvetica, sans-serif;
}

.textBuscar {
  padding: 0.5rem;
  border: 1px solid #ddd;
}
.certificado-text img{
  width: 30px;
  height: 30px;
}
/* menu*/
.nav{
  max-width: 1300px;
  height: 70px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.nav-list{
  display: flex;
  gap: 32px;
  list-style: none;
}
.nav-list a {
  font-size: 18px;
  color: rgb(255, 255, 255);
  padding-block: 16px;
  transition: opacity 0.5s ease, border-bottom 0.5s ease;
}
.hero{
  height: calc(100vh - 70px);
  background: center/ cover no-repeat url(icones/s3.webp);
}
.menu-hamburguer {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}
.menu-hamburguer::before, 
.menu-hamburguer::after{
  content:" " ;
  display: block;
  width: 30px;
  height: 3px;
  background: #fff  ;
  margin-top: 5px;
  position: relative;


}
/* Menu responsivo para aparecer o menu hamburguer*/
@media ( max-width: 1280px) {
  .menu-hamburguer{
    display: block;
    z-index: 1;
  }
  .nav-list{
    position: fixed;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 100vh;
    background: rgb(129, 51, 129);
  
    clip-path: circle(100px at 90% -15%);
    transition: 1s  ;
  
  
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
  
  }
  .nav-list a:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 4px;
}
  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }
  .nav-list li:nth-child(1) a{
    transition: 0.5s 0.2;
  }
  .nav-list li:nth-child(2) a{
    transition: 0.5s 0.4;
  }
  .nav-list li:nth-child(3) a{
    transition: 0.5s 0.6;
  }
  /* Estilos Ativos */
  
  .nav.active  .nav-list{
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }
  .nav.active .nav-list a {
    opacity: 1;
  }
  .nav.active .menu-hamburguer {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }
  .nav.active .menu-hamburguer::before{
    transform: rotate(135deg);
  }
  .nav.active .menu-hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
  }
}

/* Botao Criar*/

.criar-button {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  display: block;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.criar-button:hover {
  background-color: #f5f5f5;
}

.criar-button i {
  font-size: 24px;
  color: #333;
}

.button-text {
  font-size: 16px;
  color: #333;
   top: 110px;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}
.criar-button img {

  margin-top: 1px;
  width: 100px;
  height: 100px;
}