@model CertificadosApp.Models.Certificado

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Editar Certificado";
}

<main class="registration-form mx-auto">
    <h1 class="text-center text-white">Editar Certificado</h1>
    <form id="certificadoForm" class="registration-form" asp-action="Edit" asp-controller="Certificados" method="post">
        <div class="form-group">
            <input type="hidden" asp-for="CertificadoID" />
            <input type="text" class="form-control item" asp-for="Titulo" placeholder="Título do Certificado" required>
        </div>
        <div class="form-group">
            <select class="form-control item" asp-for="Tipo">
                <option value="palestra">Palestra</option>
                <option value="mini-curso">Mini-curso</option>
                <option value="workshop">Workshop</option>
                <option value="seminario">Seminário</option>
                <option value="treinamento">Treinamento</option>
                <option value="oficina">Oficina</option>
                <option value="webinar">Webinar</option>
                <option value="curso">Curso</option>
            </select>
        </div>
        <div class="form-group">
            <input type="number" class="form-control item" asp-for="Horas" placeholder="Carga horária em horas" required>
        </div>
        <div class="form-group">
            <input type="date" class="form-control item" asp-for="Data" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" asp-for="Participante" placeholder="Nome do Participante" required>
        </div>
        <div class="form-group">
            <select class="form-control item" asp-for="Participacao">
                <option value="participou">Participou</option>
                <option value="ministrou">Ministrou</option>
            </select>
        </div>

        <!-- Botões de ações -->
        <div class="form-group">
            <button type="submit" class="btn btn-block create-account">Salvar Alterações</button>
            <button type="button" class="btn btn-roxo" onclick="window.location.href='@Url.Action("Index", "Home")'">Voltar</button>
            <button type="reset" class="btn btn-amarelo">Limpar</button>
        </div>
    </form>
</main>
<script src="~/js/site.js"></script>
