@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Gestão de Certificado - Sobre Nós e Contato";
}

<header class="text-center p-4">
    <h1 class="text-white">Sobre Nós e Contato</h1>
</header>

<div class="content px-4 py-2" style="color: white;">
    <section>
        <hr>
        <h2>Sobre Nós</h2>
        <p>
            Somos uma empresa dedicada à criação de certificados padronizados para reconhecer conquistas e excelência em diversos campos. Com uma equipe apaixonada e experiente, estamos comprometidos em fornecer certificados de alta qualidade que atendam às necessidades de nossos clientes e ajudem a valorizar seus esforços e conquistas.
        </p>
        <hr>
    </section>
    <section>
        <h2>Missão e Visão</h2>
        <p>
            Nossa visão é ser a principal escolha para quem busca certificados de qualidade e confiáveis. Enxergamos um futuro onde nossos certificados são reconhecidos internacionalmente como símbolos de excelência e conquista, contribuindo para o desenvolvimento pessoal e profissional de nossos clientes em todo o mundo.
        </p>
        <hr>
    </section>
    <section>
        <h2>Contato</h2>
        <p>
            Para qualquer dúvida ou feedback, por favor entre em contato conosco em:<br>
            Email: <a href="mailto:info@certificado.com">info@certificado.com</a><br>
            Telefone: (11) 5555-1234<br>
            Endereço: Rua Teste, 123 Bairro Teste, Cidade Teste, CEP 12345-678, Estado Teste, Brasil
        </p>
        <hr>
    </section>
</div>

<!-- Scripts necessários para Bootstrap e funcionalidades -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
